body {
  background-image: url("https://cdn.discordapp.com/attachments/717984769555693599/885169882776354866/szkic_2.jpg");
  background-size: contain;
}

.flappybirdpng {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
