body {
  background-image: url("https://cdn.discordapp.com/attachments/717984769555693599/885207162106814464/final_chyba.png");
  background-size: contain;
  width: 1920px;
  height: 1080px;
  padding-top: 30%;
}

.flappybirdpng {
  position: fixed;
  bottom: 150px;
  right: 250px;
  width: 316px;
  border: 1px solid #73AD21;
}

.napisy{
  color: #170722;

}

.gry {
  display: inline-block;
  padding-left: 14em;
}
