body {
  background-image: url("https://cdn.discordapp.com/attachments/717984769555693599/885169882776354866/szkic_2.jpg");
  background-size: contain;
  width: 1920px;
  height: 1080px;
}

.flappybirdpng {
  position: fixed;
  bottom: 150px;
  right: 250px;
  width: 316px;
  border: 1px solid #73AD21;
}

.napisy{
  color: #f7ff19;

}

.gry {
  display: inline-block;
  padding-left: 15em;
}
